{% load staticfiles %}
{% load change_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static "mycss/stark-form.css" %}" />
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">



</head>
<body>

        <h1 class="text-center">修改页面</h1>
        <form method="post" novalidate>
{#        {% include 'stark/form.html' %}#}
            {% new_form form  %}{#    def new_form(model_form_obj):#}
        </form>

</body>
</html>